body {
  font-family: sans-serif;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}

.main-calculator {
  height: 300px;
  width: 500px;
  background-color: black;
  padding: 50px;
}

.result {
  background-color: black;
  color: white;
  width: 377px;
  text-align: right;
  font-size: 20px;
  padding-right: 15px;
}

.reset {
  color: white;
  background-color: rgb(180, 178, 178);
}

.operator {
  color: white;
  background-color: orange;
}

.number,
.zero,
.equal {
  color: white;
  background-color: rgb(77, 75, 75);
}

.zero {
  width: 245px;
}
